<p id="notice"><%= notice %></p>

<p>
  <%= link_to (image_tag @attached_file.file.url(:small)), @attached_file.file.url(:original) %>
</p>


<%= link_to 'Edit', edit_attached_file_path(@attached_file) %> |
<%= link_to 'Back', attached_files_path %>
