<h1>Listing goals</h1>

<table>

<% @goals.each do |goal| %>
  <tr>
  <ul>
  <li><%= goal.title %>
    <% if goal.created_at > Time.now-1.day %>
      new
    <% end %>
    <% if goal.deadline && goal.deadline < Time.now+1.day && !goal.finished %>
      Deadline Ending Soon
    <% end %>
    </li>
    <ul>
    <% fin = goal.finished %>
     <% goal.carrots.each do |carrot| %>
       <li>
        <% if fin %>
         <%= link_to carrot.title, carrot_path(carrot) %>
        <% else %> 
         <%= carrot.title %>
         <% end %> 
       </li>
     <% end %>
    </ul>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal', new_goal_path %>
